body {
  background-color: gray;
}

header {
  background-color: black;
}
button {
  width: 100px;
  height: 40px;
  background-color: white;
}

h1 {
  color: white;
  width: 200px;
  height: 60px;
}

img {
  width: 70%;
  height: 620px;
  padding-left: 15%;
}

footer {
  width: 100%;
  height: 20px;
  background-color: black;
}

h5 {
  color: white;
}

.top-part {
  display: flex;
  justify-content: space-around;
}
 table#table {
  
   justify-content: space-around;
 }
 
.movie1 {
  width: 100%;
  height: 50px;
}

.movie2 {
  width: 100%;
  height: 50px;
}

.movie3 {
  width: 100%;
  height: 50px;
}

.movie4 {
  width: 100%;
  height: 50px;
}

.movie5 {
  width: 100%;
  height: 50px;
}
 tr {
   text-align: center;
 }
 
 .third-top {
   background-color: black;
 }
 
 input {
   padding-right: 100px;
 }
 
 label {
   padding-right: 50px;
 }
