body {
  width: 100%;
  font-family: 'Lateef', cursive;
  font-size: 17px;
}
.addNewMovie {
  background-image: image(image/pic.png);
}
a {
  font-family: 'Lateef', cursive;
}
#add-movie-button {
  font-family: 'Lateef', cursive;
}
header {
  background-color: #F68F4A;
}
button {
  font-size: 15px;
  width: 140px;
  height: 40px;
  background-color: #FAC7A5;
  border-radius: 8px;
  border: none;
}
.link {
  text-decoration: none;
  font-family: 'Lateef', cursive;

}
h1 {
  font-family: 'Lateef', cursive;
  padding-left: 20px;
  padding-top: 10px;
}
img {
  width: 200px;
  height: 250px;
  padding-left: 15%;
  justify-content: center;
}
#front-page {
  width: 70%;
  height: 550px;
  opacity: 0.1;
}
footer {
  width: 100%;
  height: 45px;
  background-color: #F68F4A;
}
#image { 
  width: 300px;
  height:430px
}
h2 {
  padding-left: 20px;
  padding-bottom: 10px;
}
.top-part {
  display: flex;
  justify-content: space-around;
}
table#table {
 justify-content: space-around;
}
tr {
 text-align: center;
}
.third-top {
  background-color: #F68F4A; 
} 
input {
 padding-right: 100px;
}
label {
 padding-right: 50px;
}
#poster{
 width:250px;
 height:300px;
 background-color: black;
}
 nav {
   display: flex;
}
.new-movie {
 padding: 21%;
}
 #single-button {
 padding-left: 310px;
}
.panel-title {
 padding-left: 310px;
}
.panel-body {
 padding-left: 310px;
} 
.panel-footer {
  padding-left: 310px;
} 
.holder {
    max-width: 450px;
}
.holder {
  padding-left: 35%;
}
#title1 {
  padding-right: 74px;
}
#year1 {
  padding-right: 77px;
}
#rating {
    padding-right: 80px;
}
#url1 {
  padding-right: 24px;
}


